				/*margin: 12px auto 6px auto;
font-family: Helvetica,
Arial,
Sans-serif;
font-style: normal;
font-variant: normal;
font-weight: normal;
font-size: 14px;
line-height: normal;
font-size-adjust: none;
font-stretch: normal;
-x--font: none;
display: block;*/
				/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
				/* Special class on .container surrounding .navbar, used for positioning it into place. */
				/*.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}

 Flip around the padding for proper display in narrow viewports 

.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}*/
				
				#section1 h1 {
					border-bottom: none;
					font-size: 55px;
					background: center no-repeat fixed url('../imgs/backgroundimg.jpg');
					background-size: cover;
					color: white;
					padding: 15px;
					border-style: double;
					font-style: italic;
				}
				
				#name {
					color: black;
				}
				
				#section1,
				#section3,
				#section5,
				#section7 {
					background-color: rgba(0, 0, 0, 0.7);
					color: #fff;
				}